<div class="container form-container bg-white p-4 border">
  <h3>Add a Musician</h3>
    <div class= "pt-3">
      <%= simple_form_for([@festival, @musician]) do |f| %>
        <%= f.input :name %>
        <%= f.input :instrument %>
        <%= f.association :requirements, as: :check_boxes %>
        <% if @festival.rehearsals.empty? %>
          <%= f.submit "Save", class: "btn btn-success" %>
        <% else %>
          <%= f.submit "Save", class: "btn btn-success", data: { turbo_confirm: "A schedule has already been created. By making changes, the schedule will be deleted. Do you want to proceed?"} %>
        <% end %>
      <% end %>
    </div>
</div>
