<div data-controller="edit-element" data-edit-element-target="card">
  <div class="notification p-3">
    <div class="notification-content d-flex flex-column">
      <div class="row">
        <div class="col-4" >
            <p><strong><%= musician.name %> </strong></p>
          </div>
          <div class="col-4">
            <p class= "ps-2"><%= musician.instrument %></p>
          </div>
          <div class="col-4 ps-4">
            <% musician.requirements.each do |requirement| %>
              <% if requirement %>
                <span class="badge rounded-pill instrument-pill"><%= requirement.name if requirement.name == "piano" %></span>
                <span class="badge rounded-pill need-pill"><%= requirement.name if requirement.name == "wheelchair" %></span>
              <% end %>
            <% end %>
          </div>
        </div>
    </div>

    <div class="notification-actions <%= 'd-none' if musician.errors.any? %>" data-edit-element-target="actions">

      <a data-action="click->edit-element#displayForm"><i class="fas fa-pencil-alt"></i></a>

      <%= link_to musician_path(musician), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} do %>
         <i class="far fa-trash-alt"></i>
      <% end %>
    </div>
  </div>
     <%= simple_form_for([@festival, musician], html: { class: musician.errors.any? ? " p-3 bg-light mb-2" : "d-none p-3 bg-light mb-2", data: { edit_element_target: "form", action: "submit->edit-element#update" } }) do |f| %>
      <%= f.input :name %>
      <%= f.input :instrument %>
      <%= f.association :requirements, as: :check_boxes %>
      <%= f.submit "Save", class: "btn btn-success" %>
      <button data-edit-element-target="close" class="btn btn-secondary">Close</button>
    <% end %>
</div>
