<div class="header p-3">
    <div class="header-content d-flex flex-column">
      <div class="row">
        <div class="col-6" >
             <i class="fa-solid fa-users"></i>
          </div>
          <div class="col-6">
            <i class="fa-solid fa-circle-exclamation"></i>
          </div>
        </div>
    </div>

    <div class="header-actions">

      <a href=""></a>
      <a href=""></i></a>

    </div>
  </div>



<% @groups.each do |group| %>

 <div class="notification p-3">
    <div class="notification-content d-flex flex-column">
      <div class="row">
        <div class="col-6" >
          <h5 style= "margin: 0"><%= group.name %></h5>
        </div>
        <div class="col-6">
          <p>
            <% group.requirements.each do |requirement| %>
              <% if requirement %>
                <span class="badge rounded-pill instrument-pill"><%= requirement.name if requirement.name == "piano" %></span>
                <span class="badge rounded-pill need-pill"><%= requirement.name if requirement.name == "wheelchair" %></span>
              <% end %>
            <% end %>
          </p>
        </div>
      </div>
    </div>

    <div class="notification-actions">
      <%= link_to  do %><i class="fas fa-pencil-alt"></i><% end %>
      <%= link_to group_path(group), data: {turbo_method: :delete, turbo_confirm: "Are you sure you want to delete the group: ?"} do %>
        <i class="far fa-trash-alt"></i>
      <% end %>
    </div>
  </div>

<% end %>
