
      <div class="container pt-5 tabs ">
      <ul class="list-inline tabs-underlined">
          <li>
            <%= link_to "Festival", festival_path(@festival), class: "tab-underlined #{"active" if current_page?(festival_path(@festival))}" %>
          </li>
          <li>
            <%= link_to "Musicians", festival_musicians_path(@festival), class: "tab-underlined #{"active" if current_page?(festival_musicians_path(@festival))}" %>
          </li>
          <li>
            <%= link_to "Groups", festival_groups_path(@festival), class: "tab-underlined #{"active" if current_page?(festival_groups_path(@festival))}" %>
          </li>
          <li>
            <%= link_to "Rooms", festival_rooms_path(@festival), class: "tab-underlined #{"active" if current_page?(festival_rooms_path(@festival))}" %>
          </li>
          <li>
            <%= link_to "Schedule", festival_schedules_path(@festival), class: "tab-underlined #{"active" if current_page?(festival_schedules_path(@festival))}" %>
          </li>
        </ul>
      </div>
