<div class="card-show">
  <img src="https://www.germany.travel/media/redaktion/staedte_kultur_content/Berlin_Brandenburger_Tor_im_Sonnenuntergang_Leitmotiv_German_Summer_Cities.jpg" />
  <div class="card-show-infos">
    <div>
      <h4><%= @festival.name %></h4>
      <br>
      <p><strong>Location:   </strong><%= @festival.location %></p>
      <p><strong>Start:   </strong><%= @festival.start_date %></p>
      <p><strong>End:   </strong><%= @festival.end_date %></p>
      <br>
      <p><strong>Rehearsal slots per day:   </strong><%= @festival.slots_per_day %></p>
    </div>

  </div>
</div>
